<div id="modal-backdrop" class="hidden"></div>
<div id="add-tracker-modal" class="hidden">
  <!-- TODO: Inner div for styling? Decide later. -->
  <div class="modal-header">
    <h3>Add a Tracker</h3>
    <button type="button" class="modal-close-button">&times;</button>
  </div>
  <div class="modal-body">
    <div class="tracker-input-element">
      <label for="tracker-input-name">What would you like to track?</label>
      <input type="text" id="tracker-input-name">
    </div>
    <div class="tracker-input-element">
      <label for="tracker-input-unit">What kind of units should be used?</label>
      <input type="text" id="tracker-input-unit">
    </div>
    <div class="tracker-input-element">
      <label for="tracker-input-amount">How much do you currently have?</label>
      <input type="text" id="tracker-input-amount">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-cancel-button">Cancel</button>
    <button type="button" class="modal-accept-button">Add Tracker</button>
  </div>
</div>
