<div id="modal-history-backdrop" class="hidden"></div>
<div id="history-modal" class="hidden">
  <!-- TODO: Inner div for styling? Decide later. -->
  <div class="modal-header-history">
    <h3>Add History</h3>
    <button type="button" class="modal-close-button-history">&times;</button>
  </div>
  <div class="modal-body-history">
    <div class="history-input-element">
      <label for="history-input-name">How much was consumed?</label>
      <input type="text" id="history-input-amount">
    </div>
    <div class="history-input-element">
      <label for="history-input-unit">Data:</label>
      <input type="text" id="history-input-date">
    </div>
  </div>
  <div class="modal-footer-history">
    <button type="button" class="modal-cancel-button-history">Cancel</button>
    <button type="button" class="modal-accept-button-history">Add ToDo</button>
  </div>
</div>
