

  <section class="item">
    <h2>{{name}}</h2>
    <div class="item-body">
      {{#if type}}
        <p class="indent-wrapped"><span class="type">type: </span>{{type}}</p>
      {{/if}}
      {{#if amount}}
        <p class="indent-wrapped"><span class="amount">amount: </span>{{amount}}</p>
      {{/if}}
    </div>
    <div class="edit-button" ><a href="/track/{{@key}}">Edit</div>

</section>
