<header>
  <h1><a href="/"> Consumption Tracker</a></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><button id ="add-item-button">add Item</button></li>
    </ul>
  </nav>
</header>
