<header>
  <h1><a href="/"> Consumption Tracker</a></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if tracker}}
        <li><button id ="add-history-button">add history</button></li>
      {{/if}}
      {{#unless tracker}}
        <li><button id ="add-item-button">add Item</button></li>
      {{/unless}}
    </ul>
  </nav>
</header>
