<section class = "history-item">
  <p class="indent-wrapped"><span class="date">Data: </span>{{date}}</p>
  <p class="indent-wrapped"><span class="consumption-amount">Consumption: </span>{{consumption}}</p>
  <button type="button" class="modal-close-button">&times;</button>
</section>
