<section class = "history-item">
  <section class="history-date"><span class="date">Date: </span>{{date}}</section>
  <section class="history-consumption"><span class="consumption-amount">Consumption: </span>{{quantity}} {{unit}}</section>
  <button type="button-history" class="modal-close-button">&times;</button>
</section>
