<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" media="screen">
  </head>
  <body>
    <header>
      <h1>Consumption Tracker</h1>
    </header>
    
    {{{body}}}

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.runtime.js"></script>
</html>
