/* TODO Style it up */
header{
  display: block;
  background-color: #93baf9;
  color: black;
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F0F0;
}

a {
  text-decoration: none;
  color: black;
  left: 0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
}
footer{
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;
  background-color: #93baf9;
  color: grey;
  padding-left: 10px;
}
.item{
  background-color: #93baf9;
  position: relative;
  width: 300px;
  min-height: 300px;
  margin: 10px;
  font-size: 24px;
  font-weight: 200;
  word-wrap: break-word;
}
.item-body{
  text-align: left;
  color: grey;
}
.item h2 {
  margin: 20px;
  text-align: center;
}
.item p{
  margin: auto;
  padding-left: 20px;
  text-align: left;
}
.item .edit-button{
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 25px;
  display: block;
  cursor: pointer;
  color: grey;
}
.history{
  clear: both;
  display: block;
  align-items: center;
  white-space: nowrap;
  padding-bottom: 10px;
}
.history-body{
  margin-left: auto;
  margin-right: auto;
  align-items:center;
}
.history-item{
  display:flex;
  white-space: nowrap;
  overflow: hidden;
  align-content: center;
  margin: 10px;
  flex-wrap: wrap;
  flex: 1;
  min-width: 100%;
  min-height: 40px;
  background-color:  #93baf9;
}
.history-item .history-date{
  align-content: center;
  display: inline;
  padding-right: 100px;
}
.history-consumption{
  display: inline;
  padding-right: 50px;
}
.button-history{
  display: inline;
  padding-right: 10px;
  height: 50%;
}
.add-item-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10;
}

.hidden { display: none; }
